// Social
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #cd486b;
$color-pinterest: #C92228;
$color-github: #000;

.bg-facebook {
  background: $color-facebook;
  color: white;
}

.bg-twitter {
  background: $color-twitter;
  color: white;
}

.bg-instagram {
  background: $color-instagram;
  color: white;
}

.bg-pinterest {
  background: $color-pinterest;
  color: white;
}

.bg-github {
  background: $color-github;
  color: white;
}
