.mat-expansion-panel:not([class*=mat-elevation-z]) {
  border-bottom: 1px solid var(--foreground-divider);
  border-left: 1px solid var(--foreground-divider);
  border-right: 1px solid var(--foreground-divider);
  box-shadow: none;

  &:first-of-type {
    border-top: 1px solid var(--foreground-divider);
  }
}
