<vex-page-layout mode="card">

  <vex-page-layout-header class="h-6"></vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card">
      <mat-tab-group>
        <mat-tab label="Main Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Side Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Extra Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Additional Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Another Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="One More Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Definitely the last Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Whoops another Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="And one last Tab">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
